<!DOCTYPE html>
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
{% include meta.html %}
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<header class="container-fluid">
  <nav class="navbar navbar-dark bg-inverse">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
    <div class="navbar-form">
      <p>{{ site.description }}</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Blog</a>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/about">¿Quienes Somos<?/a>
    </ul>
  </nav>
</header>

<main class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-9">
      <h1>{{ site.title }}</h1>
      {{ content }}
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-9">
      {% include form.html %}
    </div>
  </div>
</main>

<footer class="container-fluid">
  {% include svg-icons.html %}
</footer>
{% include analytics.html %}
