<!DOCTYPE html>
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
{% include meta.html %}
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<header class="container-fluid">
  <nav class="navbar bg-inverse">
    <a class="navbar-brand text-primary" href="{{ site.baseurl }}/">{{ site.name }}</a>
    <div class="navbar-brand">
      <p><small>{{ site.description }}</small></p>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Blog</a>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/about">¿Quienes Somos</a>
    </ul>
  </nav>
</header>

<main class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-9">
      <h1>{{ site.title }}</h1>
      <p class="icons"><i class="fi-html5"></i> <i class="fi-like"></i>
				<i class="fi-css3"></i>	<i class="fi-laptop"></i> <i class="fi-euro"></i>
				<i class="fi-tablet-portrait"></i> <i class="fi-shopping-cart"></i>
				<i class="fi-graph-trend"></i> <i class="fi-graph-pie"></i>
				<i class="fi-cloud"></i> <i class="fi-torsos-all"></i>
		  </p>
      <p class="lead">{{ site.summary }}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      {% include form.html %}
    </div>
  </div>
  {{ content }}
</main>

<footer class="container-fluid">
  {% include svg-icons.html %}
</footer>
{% include analytics.html %}
