<!DOCTYPE html>
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
{% include meta.html %}
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
p.icons{
	color:rgba(245,159,26,0.8);
	font-size:2.5rem;
  line-height:0;
	text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}
p.icons:after {
  content:"";
  display:inline-block;
  line-height:0;
  width:100%;
}
</style>
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<header class="container-fluid m-b-lg">
  <nav class="navbar">
    <a class="navbar-brand text-primary" href="{{ site.baseurl }}/">{{ site.name }}</a>
    <div class="navbar-brand m-l hidden-md-down">
      <small>{{ site.description }}</small>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Blog</a>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/about">Acerca de</a>
    </ul>
  </nav>
</header>

<div class="card">
  <div class="card-header">
    <h1 class="card-title display-2 text-uppercase text-info text-center p-y-md">
		{{ page.title }}
	</h1>
    <p class="card-subtitle text-justify">{{ page.summary }}</p>
  </div>
  <div class="card-block">
    <p class="icons text-justify p-y-md m-y-0">
      <i class="fi-html5"></i>
      <i class="fi-like"></i>
      <i class="fi-css3"></i>
      <i class="fi-laptop"></i>
      <i class="fi-euro"></i>
      <i class="fi-tablet-portrait"></i>
      <i class="fi-shopping-cart"></i>
      <i class="fi-graph-trend"></i>
      <i class="fi-graph-pie"></i>
      <i class="fi-cloud"></i>
      <i class="fi-torsos-all"></i>
      <i class="fi-share"></i>
      <i class="fi-rss"></i>
      <i class="fi-play-video"></i>
      <i class="fi-mail"></i>
      <i class="fi-lightbulb"></i>
      <i class="fi-social-github"></i>
      <i class="fi-social-facebook"></i>
    </p>
  </div>
</div>

<main class="container-fluid">{{ content }}</main>

<footer class="container-fluid">
  <div class="row">
	  <div class="col-xs-12 col-md-6">
  		{% include svg-icons.html %}
	  </div>
	  <div class="col-xs-12 col-md-6">
  		{% include form.html %}
	  </div>
  </div>
</footer>
{% include analytics.html %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
